.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: btn;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

img {
    width: 300px;
    text-align: center;
    margin: 10px;
    animation-name: btn;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

.container > img:hover {
    width: 500px;
    transition: 2s;
}