#home {
  background-image: url(./IMG_2589.jpg);
  min-height: 50vh;
  animation-name: header;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.big-bg {
  background-size: cover;
  background-position: center;
}

.home-content {
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.125rem;
  color: #fff;
  margin: 10px 0 42px;
  padding-top: 120px;
  font-size: 30px;
  font-family: "Lobster", cursive;
}

body {
  background-color: rgb(241, 234, 225);
  margin: auto;
}

.profile {
  background-color: rgb(155, 224, 224);
  padding: 10px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  animation-name: profile;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes profile {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  animation-name: icon;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  font-size: 30px;
  margin: 0;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  animation-name: name;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes name {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.furigana {
  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  animation-name: furigana;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes furigana {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 1;
  width: 50%;
  padding: 1em;
  background: #fff;
  animation-name: content;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes content {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal {
  display: flex;
  justify-content: center;
  margin: 10px;
  user-select: none;
}

.form {
  animation-name: furigana;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.btn {
  cursor: pointer;
  margin-bottom: 15px;
  animation-name: btn;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}
@keyframes btn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.view {
  cursor: pointer;
  user-select: none;
}

footer {
  padding: 10px;
  background-color: rgb(155, 224, 224);
  animation-name: footer;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes footer {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.link1,
.link2 {
  color: rgb(241, 234, 225);
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(37, 95, 223);
  margin: 10px;
  padding: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.7);
}

.link1 {
  animation-name: link1;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}
@keyframes link1 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.link1:hover {
  box-shadow: none;
}

.link2 {
  animation-name: link2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes link2 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.link2:hover {
  box-shadow: none;
}

@media (min-width: 1000px) {
  .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
  }

  .iconContainer {
    margin-right: 20px;
    padding-right: 70px;
  }

  .nameContainer {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
  }
}
