.header {
  font-size: 16px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 16px;
  background-color: rgb(214, 147, 102);
}

body {
  background-color: rgb(224, 196, 158);
  margin: auto;
}

.icon {
  width: 260px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.name {
  font-size: 30px;
  margin: 0;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.furigana {
  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 2;
  width: 50%;
  padding: 1em;
  background: #fff;
}

.btn {
  cursor: pointer;
}

.link {
  cursor: pointer;
  background-color: chocolate;
  margin: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
}